@import "tailwindcss";

@theme {
    .p-strip--light {
        --vf-theme-light:  var(--vf-FLAG-ON);
        --vf-theme-dark:  var(--vf-FLAG-OFF);
        --vf-color-text-default:  #000;
        --vf-color-text-muted:  rgba(0,  0,  0,  0.6);
        --vf-color-text-inactive:  rgba(0,  0,  0,  0.75);
        --vf-color-link-default:  #06c;
        --vf-color-link-visited:  #7d42b8;
        --vf-color-focus:  #2e96ff;
        --vf-color-positive-focus:  #003008;
        --vf-color-background-default:  #fff;
        --vf-color-background-alt:  #f7f7f7;
        --vf-color-background-code:  rgba(0,  0,  0,  0.03);
        --vf-color-background-inputs:  whitesmoke;
        --vf-color-background-active:  #ebebeb;
        --vf-color-background-hover:  #f2f2f2;
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(0,  0,  0,  0.2);
        --vf-color-border-high-contrast:  rgba(0,  0,  0,  0.56);
        --vf-color-border-low-contrast:  rgba(0,  0,  0,  0.1);
        --vf-color-border-neutral:  rgba(0,  0,  0,  0.56);
        --vf-color-border-positive:  #0e8420;
        --vf-color-border-negative:  #c7162b;
        --vf-color-border-information:  #24598f;
        --vf-color-border-caution:  #cc7900;
        --vf-color-background-neutral-default:  #f2f2f2;
        --vf-color-background-neutral-hover:  #e5e5e5;
        --vf-color-background-neutral-active:  #dedede;
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.1);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/15%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/18%);
        --vf-color-background-caution-default:  hsla(27,  100%,  39%,  0.1);
        --vf-color-background-caution-hover:  hsl(27deg 100% 39%/15%);
        --vf-color-background-caution-active:  hsl(27deg 100% 39%/18%);
        --vf-color-background-negative-default:  hsla(354,  100%,  39%,  0.1);
        --vf-color-background-negative-hover:  hsl(354deg 100% 39%/15%);
        --vf-color-background-negative-active:  hsl(354deg 100% 39%/18%);
        --vf-color-background-information-default:  hsla(210,  100%,  39%,  0.1);
        --vf-color-background-information-hover:  hsl(210deg 100% 39%/15%);
        --vf-color-background-information-active:  hsl(210deg 100% 39%/18%);
        --vf-color-button-positive-default:  #0e8420;
        --vf-color-button-positive-hover:  #0c6d1a;
        --vf-color-button-positive-active:  #0a5f17;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #c7162b;
        --vf-color-button-negative-hover:  #b01326;
        --vf-color-button-negative-active:  #a21223;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
        background-color: var(--vf-color-background-alt);
        color: var(--vf-color-text-default);
    }
    .p-strip--dark {
        --vf-theme-light:  var(--vf-FLAG-OFF);
        --vf-theme-dark:  var(--vf-FLAG-ON);
        --vf-color-text-default:  hsl(0,  0%,  100%);
        --vf-color-text-muted:  rgba(255,  255,  255,  0.6);
        --vf-color-text-inactive:  rgba(255,  255,  255,  0.75);
        --vf-color-link-default:  #69c;
        --vf-color-link-visited:  #a679d2;
        --vf-color-focus:  #9cf;
        --vf-color-positive-focus:  #9cf;
        --vf-color-background-default:  #262626;
        --vf-color-background-alt:  #202020;
        --vf-color-background-code:  rgba(255,  255,  255,  0.3);
        --vf-color-background-inputs:  rgba(255,  255,  255,  0.04);
        --vf-color-background-active:  rgba(255,  255,  255,  0.08);
        --vf-color-background-hover:  rgba(255,  255,  255,  0.05);
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(255,  255,  255,  0.2);
        --vf-color-border-high-contrast:  rgba(255,  255,  255,  0.5);
        --vf-color-border-low-contrast:  rgba(255,  255,  255,  0.1);
        --vf-color-border-neutral:  hsl(0,  0%,  65%);
        --vf-color-border-positive:  #62a36c;
        --vf-color-border-negative:  #d17b85;
        --vf-color-border-information:  hsl(210,  80%,  65%);
        --vf-color-border-caution:  #c48831;
        --vf-color-background-neutral-default:  rgba(255,  255,  255,  0.15);
        --vf-color-background-neutral-hover:  rgba(255,  255,  255,  0.2);
        --vf-color-background-neutral-active:  rgba(255,  255,  255,  0.25);
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.2);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/30%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/36%);
        --vf-color-background-caution-default:  hsla(27,  100%,  50%,  0.2);
        --vf-color-background-caution-hover:  hsl(27deg 100% 60%/30%);
        --vf-color-background-caution-active:  hsl(27deg 100% 50%/36%);
        --vf-color-background-negative-default:  hsla(353,  100%,  70%,  0.2);
        --vf-color-background-negative-hover:  hsl(353deg 100% 70%/30%);
        --vf-color-background-negative-active:  hsl(353deg 100% 70%/36%);
        --vf-color-background-information-default:  hsla(210,  100%,  50%,  0.2);
        --vf-color-background-information-hover:  hsl(210deg 100% 50%/30%);
        --vf-color-background-information-active:  hsl(210deg 100% 50%/36%);
        --vf-color-button-positive-default:  #008013;
        --vf-color-button-positive-hover:  #00670f;
        --vf-color-button-positive-active:  #00570d;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #a11223;
        --vf-color-button-negative-hover:  #8a0f1e;
        --vf-color-button-negative-active:  #7c0e1b;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
        background-color: var(--vf-color-background-default);
        color: var(--vf-color-text-default);
    }
    .p-strip--white {
        --vf-theme-light:  var(--vf-FLAG-ON);
        --vf-theme-dark:  var(--vf-FLAG-OFF);
        --vf-color-text-default:  #000;
        --vf-color-text-muted:  rgba(0,  0,  0,  0.6);
        --vf-color-text-inactive:  rgba(0,  0,  0,  0.75);
        --vf-color-link-default:  #06c;
        --vf-color-link-visited:  #7d42b8;
        --vf-color-focus:  #2e96ff;
        --vf-color-positive-focus:  #003008;
        --vf-color-background-default:  #fff;
        --vf-color-background-alt:  #f7f7f7;
        --vf-color-background-code:  rgba(0,  0,  0,  0.03);
        --vf-color-background-inputs:  whitesmoke;
        --vf-color-background-active:  #ebebeb;
        --vf-color-background-hover:  #f2f2f2;
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(0,  0,  0,  0.2);
        --vf-color-border-high-contrast:  rgba(0,  0,  0,  0.56);
        --vf-color-border-low-contrast:  rgba(0,  0,  0,  0.1);
        --vf-color-border-neutral:  rgba(0,  0,  0,  0.56);
        --vf-color-border-positive:  #0e8420;
        --vf-color-border-negative:  #c7162b;
        --vf-color-border-information:  #24598f;
        --vf-color-border-caution:  #cc7900;
        --vf-color-background-neutral-default:  #f2f2f2;
        --vf-color-background-neutral-hover:  #e5e5e5;
        --vf-color-background-neutral-active:  #dedede;
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.1);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/15%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/18%);
        --vf-color-background-caution-default:  hsla(27,  100%,  39%,  0.1);
        --vf-color-background-caution-hover:  hsl(27deg 100% 39%/15%);
        --vf-color-background-caution-active:  hsl(27deg 100% 39%/18%);
        --vf-color-background-negative-default:  hsla(354,  100%,  39%,  0.1);
        --vf-color-background-negative-hover:  hsl(354deg 100% 39%/15%);
        --vf-color-background-negative-active:  hsl(354deg 100% 39%/18%);
        --vf-color-background-information-default:  hsla(210,  100%,  39%,  0.1);
        --vf-color-background-information-hover:  hsl(210deg 100% 39%/15%);
        --vf-color-background-information-active:  hsl(210deg 100% 39%/18%);
        --vf-color-button-positive-default:  #0e8420;
        --vf-color-button-positive-hover:  #0c6d1a;
        --vf-color-button-positive-active:  #0a5f17;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #c7162b;
        --vf-color-button-negative-hover:  #b01326;
        --vf-color-button-negative-active:  #a21223;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
        background-color: #fff;
        color: var(--vf-color-text-default);
    }
    .p-strip--accent {
        --vf-theme-light:  var(--vf-FLAG-OFF);
        --vf-theme-dark:  var(--vf-FLAG-ON);
        --vf-color-text-default:  hsl(0,  0%,  100%);
        --vf-color-text-muted:  rgba(255,  255,  255,  0.6);
        --vf-color-text-inactive:  rgba(255,  255,  255,  0.75);
        --vf-color-link-default:  #69c;
        --vf-color-link-visited:  #a679d2;
        --vf-color-focus:  #9cf;
        --vf-color-positive-focus:  #9cf;
        --vf-color-background-default:  #262626;
        --vf-color-background-alt:  #202020;
        --vf-color-background-code:  rgba(255,  255,  255,  0.3);
        --vf-color-background-inputs:  rgba(255,  255,  255,  0.04);
        --vf-color-background-active:  rgba(255,  255,  255,  0.08);
        --vf-color-background-hover:  rgba(255,  255,  255,  0.05);
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(255,  255,  255,  0.2);
        --vf-color-border-high-contrast:  rgba(255,  255,  255,  0.5);
        --vf-color-border-low-contrast:  rgba(255,  255,  255,  0.1);
        --vf-color-border-neutral:  hsl(0,  0%,  65%);
        --vf-color-border-positive:  #62a36c;
        --vf-color-border-negative:  #d17b85;
        --vf-color-border-information:  hsl(210,  80%,  65%);
        --vf-color-border-caution:  #c48831;
        --vf-color-background-neutral-default:  rgba(255,  255,  255,  0.15);
        --vf-color-background-neutral-hover:  rgba(255,  255,  255,  0.2);
        --vf-color-background-neutral-active:  rgba(255,  255,  255,  0.25);
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.2);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/30%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/36%);
        --vf-color-background-caution-default:  hsla(27,  100%,  50%,  0.2);
        --vf-color-background-caution-hover:  hsl(27deg 100% 60%/30%);
        --vf-color-background-caution-active:  hsl(27deg 100% 50%/36%);
        --vf-color-background-negative-default:  hsla(353,  100%,  70%,  0.2);
        --vf-color-background-negative-hover:  hsl(353deg 100% 70%/30%);
        --vf-color-background-negative-active:  hsl(353deg 100% 70%/36%);
        --vf-color-background-information-default:  hsla(210,  100%,  50%,  0.2);
        --vf-color-background-information-hover:  hsl(210deg 100% 50%/30%);
        --vf-color-background-information-active:  hsl(210deg 100% 50%/36%);
        --vf-color-button-positive-default:  #008013;
        --vf-color-button-positive-hover:  #00670f;
        --vf-color-button-positive-active:  #00570d;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #a11223;
        --vf-color-button-negative-hover:  #8a0f1e;
        --vf-color-button-negative-active:  #7c0e1b;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
        background-color: #262626;
        color: var(--vf-color-text-default);
    }
    :root {
        --vf-FLAG-ON:  initial;
        --vf-FLAG-OFF:  }
    :root, .is-light {
        --vf-theme-light:  var(--vf-FLAG-ON);
        --vf-theme-dark:  var(--vf-FLAG-OFF);
        --vf-color-text-default:  #000;
        --vf-color-text-muted:  rgba(0,  0,  0,  0.6);
        --vf-color-text-inactive:  rgba(0,  0,  0,  0.75);
        --vf-color-link-default:  #06c;
        --vf-color-link-visited:  #7d42b8;
        --vf-color-focus:  #2e96ff;
        --vf-color-positive-focus:  #003008;
        --vf-color-background-default:  #fff;
        --vf-color-background-alt:  #f7f7f7;
        --vf-color-background-code:  rgba(0,  0,  0,  0.03);
        --vf-color-background-inputs:  whitesmoke;
        --vf-color-background-active:  #ebebeb;
        --vf-color-background-hover:  #f2f2f2;
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(0,  0,  0,  0.2);
        --vf-color-border-high-contrast:  rgba(0,  0,  0,  0.56);
        --vf-color-border-low-contrast:  rgba(0,  0,  0,  0.1);
        --vf-color-border-neutral:  rgba(0,  0,  0,  0.56);
        --vf-color-border-positive:  #0e8420;
        --vf-color-border-negative:  #c7162b;
        --vf-color-border-information:  #24598f;
        --vf-color-border-caution:  #cc7900;
        --vf-color-background-neutral-default:  #f2f2f2;
        --vf-color-background-neutral-hover:  #e5e5e5;
        --vf-color-background-neutral-active:  #dedede;
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.1);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/15%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/18%);
        --vf-color-background-caution-default:  hsla(27,  100%,  39%,  0.1);
        --vf-color-background-caution-hover:  hsl(27deg 100% 39%/15%);
        --vf-color-background-caution-active:  hsl(27deg 100% 39%/18%);
        --vf-color-background-negative-default:  hsla(354,  100%,  39%,  0.1);
        --vf-color-background-negative-hover:  hsl(354deg 100% 39%/15%);
        --vf-color-background-negative-active:  hsl(354deg 100% 39%/18%);
        --vf-color-background-information-default:  hsla(210,  100%,  39%,  0.1);
        --vf-color-background-information-hover:  hsl(210deg 100% 39%/15%);
        --vf-color-background-information-active:  hsl(210deg 100% 39%/18%);
        --vf-color-button-positive-default:  #0e8420;
        --vf-color-button-positive-hover:  #0c6d1a;
        --vf-color-button-positive-active:  #0a5f17;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #c7162b;
        --vf-color-button-negative-hover:  #b01326;
        --vf-color-button-negative-active:  #a21223;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
    }
    .is-dark {
        --vf-theme-light:  var(--vf-FLAG-OFF);
        --vf-theme-dark:  var(--vf-FLAG-ON);
        --vf-color-text-default:  hsl(0,  0%,  100%);
        --vf-color-text-muted:  rgba(255,  255,  255,  0.6);
        --vf-color-text-inactive:  rgba(255,  255,  255,  0.75);
        --vf-color-link-default:  #69c;
        --vf-color-link-visited:  #a679d2;
        --vf-color-focus:  #9cf;
        --vf-color-positive-focus:  #9cf;
        --vf-color-background-default:  #262626;
        --vf-color-background-alt:  #202020;
        --vf-color-background-code:  rgba(255,  255,  255,  0.3);
        --vf-color-background-inputs:  rgba(255,  255,  255,  0.04);
        --vf-color-background-active:  rgba(255,  255,  255,  0.08);
        --vf-color-background-hover:  rgba(255,  255,  255,  0.05);
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(255,  255,  255,  0.2);
        --vf-color-border-high-contrast:  rgba(255,  255,  255,  0.5);
        --vf-color-border-low-contrast:  rgba(255,  255,  255,  0.1);
        --vf-color-border-neutral:  hsl(0,  0%,  65%);
        --vf-color-border-positive:  #62a36c;
        --vf-color-border-negative:  #d17b85;
        --vf-color-border-information:  hsl(210,  80%,  65%);
        --vf-color-border-caution:  #c48831;
        --vf-color-background-neutral-default:  rgba(255,  255,  255,  0.15);
        --vf-color-background-neutral-hover:  rgba(255,  255,  255,  0.2);
        --vf-color-background-neutral-active:  rgba(255,  255,  255,  0.25);
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.2);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/30%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/36%);
        --vf-color-background-caution-default:  hsla(27,  100%,  50%,  0.2);
        --vf-color-background-caution-hover:  hsl(27deg 100% 60%/30%);
        --vf-color-background-caution-active:  hsl(27deg 100% 50%/36%);
        --vf-color-background-negative-default:  hsla(353,  100%,  70%,  0.2);
        --vf-color-background-negative-hover:  hsl(353deg 100% 70%/30%);
        --vf-color-background-negative-active:  hsl(353deg 100% 70%/36%);
        --vf-color-background-information-default:  hsla(210,  100%,  50%,  0.2);
        --vf-color-background-information-hover:  hsl(210deg 100% 50%/30%);
        --vf-color-background-information-active:  hsl(210deg 100% 50%/36%);
        --vf-color-button-positive-default:  #008013;
        --vf-color-button-positive-hover:  #00670f;
        --vf-color-button-positive-active:  #00570d;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #a11223;
        --vf-color-button-negative-hover:  #8a0f1e;
        --vf-color-button-negative-active:  #7c0e1b;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
    }
    .is-paper {
        --vf-theme-light:  var(--vf-FLAG-ON);
        --vf-theme-dark:  var(--vf-FLAG-OFF);
        --vf-color-text-default:  #000;
        --vf-color-text-muted:  rgba(0,  0,  0,  0.6);
        --vf-color-text-inactive:  rgba(0,  0,  0,  0.75);
        --vf-color-link-default:  #06c;
        --vf-color-link-visited:  #7d42b8;
        --vf-color-focus:  #2e96ff;
        --vf-color-positive-focus:  #003008;
        --vf-color-background-default:  #fff;
        --vf-color-background-alt:  #f7f7f7;
        --vf-color-background-code:  rgba(0,  0,  0,  0.03);
        --vf-color-background-inputs:  whitesmoke;
        --vf-color-background-active:  #ebebeb;
        --vf-color-background-hover:  #f2f2f2;
        --vf-color-background-overlay:  rgba(17,  17,  17,  0.85);
        --vf-color-border-default:  rgba(0,  0,  0,  0.2);
        --vf-color-border-high-contrast:  rgba(0,  0,  0,  0.56);
        --vf-color-border-low-contrast:  rgba(0,  0,  0,  0.1);
        --vf-color-border-neutral:  rgba(0,  0,  0,  0.56);
        --vf-color-border-positive:  #0e8420;
        --vf-color-border-negative:  #c7162b;
        --vf-color-border-information:  #24598f;
        --vf-color-border-caution:  #cc7900;
        --vf-color-background-neutral-default:  #f2f2f2;
        --vf-color-background-neutral-hover:  #e5e5e5;
        --vf-color-background-neutral-active:  #dedede;
        --vf-color-background-positive-default:  hsla(129,  90%,  39%,  0.1);
        --vf-color-background-positive-hover:  hsl(129deg 100% 39%/15%);
        --vf-color-background-positive-active:  hsl(129deg 100% 39%/18%);
        --vf-color-background-caution-default:  hsla(27,  100%,  39%,  0.1);
        --vf-color-background-caution-hover:  hsl(27deg 100% 39%/15%);
        --vf-color-background-caution-active:  hsl(27deg 100% 39%/18%);
        --vf-color-background-negative-default:  hsla(354,  100%,  39%,  0.1);
        --vf-color-background-negative-hover:  hsl(354deg 100% 39%/15%);
        --vf-color-background-negative-active:  hsl(354deg 100% 39%/18%);
        --vf-color-background-information-default:  hsla(210,  100%,  39%,  0.1);
        --vf-color-background-information-hover:  hsl(210deg 100% 39%/15%);
        --vf-color-background-information-active:  hsl(210deg 100% 39%/18%);
        --vf-color-button-positive-default:  #0e8420;
        --vf-color-button-positive-hover:  #0c6d1a;
        --vf-color-button-positive-active:  #0a5f17;
        --vf-color-button-positive-text:  hsl(0,  0%,  100%);
        --vf-color-button-negative-default:  #c7162b;
        --vf-color-button-negative-hover:  #b01326;
        --vf-color-button-negative-active:  #a21223;
        --vf-color-button-negative-text:  hsl(0,  0%,  100%);
        --vf-color-background-default:  #f3f3f3;
        --vf-color-background-alt:  #ebebeb;
        --vf-color-background-inputs:  rgba(0,  0,  0,  0.04);
        --vf-color-background-active:  rgba(0,  0,  0,  0.08);
        --vf-color-background-hover:  rgba(0,  0,  0,  0.05);
    }
}

body {
    background: var(--vf-color-background-default);
    color: var(--vf-color-text-default);
}
@font-face {
    font-family: "Ubuntu variable";
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100 800;
    src: url("https://assets.ubuntu.com/v1/f1ea362b-Ubuntu%5Bwdth, wght%5D-latin-v0.896a.woff2") format("woff2-variations");
}
@font-face {
    font-family: "Ubuntu variable";
    font-stretch: 100%;
    font-style: italic;
    font-weight: 100 800;
    src: url("https://assets.ubuntu.com/v1/90b59210-Ubuntu-Italic%5Bwdth, wght%5D-latin-v0.896a.woff2") format("woff2-variations");
}
@font-face {
    font-family: "Ubuntu Mono variable";
    font-style: normal;
    font-weight: 100 800;
    src: url("https://assets.ubuntu.com/v1/d5fc1819-UbuntuMono%5Bwght%5D-latin-v0.869.woff2") format("woff2-variations");
}
